.root {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  gap: 10px;
}

.root > .rdg {
  flex: 1;
}

.filter-element {
  line-height: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.filter-element > div {
  padding-block: 0;
  padding-inline: 8px;
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 16px;
  list-style: none;
}

.context-menu > li {
  padding: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
}

.header-save-reports {
  display: flex;
  flex-direction: column;
}
